body {
  background-color: #141414; /* Black background color */
  color: #e50914; /* Red text color */
  border: 15px;
}

h1 {
  color: #e50914; /* Red header text color */
}

.video-container {
  display: flex;
  overflow-x: auto;
  height: 500px;
  justify-content: center; /* Align items vertically */
  align-items: center; /* Center items horizontally */
}

.video-item {
  width: 320px;
  height: 400px;
  margin-right: 20px;
  background-color: #1f1f1f; /* Darker black background for video items */
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.video-item:hover {
  transform: scale(1.1); /* Enlarge the element */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}

/* Additional styling for video details */
.video-item h2 {
  color: #e50914; /* Red video name text color */
}

.video-item p {
  color: #b8b8b8; /* Light gray video description text color */
}

.video-item video {
  border-radius: 5px;
}